{
  "openapi": "3.0.1",
  "info": {
    "title": "Marketplace API",
    "description": "API specification for user authentication and transaction management",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.external.bnznow.com",
      "description": "Sandbox server for marketplace APIs"
    },
    {
      "url": "https://api.external.bnznow.com",
      "description": "Production server for marketplace APIs"
    }
  ],
  "paths": {
    "/marketplace/user/auth": {
      "post": {
        "description": "Generates a redirect URL for seamless user authentication",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "x-body-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature of the request body signed with API secret (private key)"
          }
        ],
        "requestBody": {
          "description": "User authentication details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication redirect URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/transactions": {
      "get": {
        "description": "Returns all transactions for all users on the platform registered with your API key",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "ID of user to get transactions for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query", 
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 1000,
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort order of the results",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of transactions to return", 
            "schema": {
              "type": "string",
              "enum": ["buy", "offset"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/transactions/{id}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Transaction Details",
        "description": "Returns details of a specific transaction",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of transaction to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "unique_id",
          "govt_id",
          "user_type",
          "email"
        ],
        "type": "object",
        "properties": {
          "unique_id": {
            "type": "string",
            "description": "Unique identifier for the user in your system (user_id, company_id, etc)"
          },
          "email": {
            "type": "string",
            "description": "Email address of the user"
          },
          "govt_id": {
            "type": "string",
            "description": "Government ID (Aadhar, CIN)"
          },
          "name": {
            "type": "string",
            "description": "User's full name"
          },
          "user_type": {
            "type": "string",
            "enum": ["company", "individual"],
            "description": "Type of user"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect the user for authentication"
          },
          "registered_id": {
            "type": "string",
            "description": "Registered ID of the user on BNZ Green"
          },
          "expires_in": {
            "type": "integer",
            "description": "Time in seconds until the redirect URL expires"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer",
                "description": "Current page number"
              },
              "total_records": {
                "type": "integer",
                "description": "Total number of records"
              },
              "limit": {
                "type": "integer",
                "description": "Number of records per page"
              }
            }
          },
          "overview": {
            "type": "object",
            "properties": {
              "total_transactions": {
                "type": "integer",
                "description": "Total number of transactions"
              },
              "total_offsetted": {
                "type": "integer",
                "description": "Total number of offset transactions"
              },
              "total_users": {
                "type": "integer",
                "description": "Total number of users"
              }
            }
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Transaction ID"
                },
                "amount": {
                  "type": "number",
                  "description": "Transaction amount in INR"
                },
                "type": {
                  "type": "string",
                  "enum": ["buy", "offset"],
                  "description": "Transaction type"
                },
                "carbon_credits": {
                  "type": "number",
                  "description": "Carbon credits bought or offsetted in tonCO2e"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Timestamp of the transaction"
                }
              }
            }
          }
        }
      },
      "TransactionDetail": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Transaction ID"
              },
              "amount": {
                "type": "number",
                "description": "Transaction amount in INR"
              },
              "type": {
                "type": "string",
                "enum": ["buy", "offset"],
                "description": "Transaction type"
              },
              "carbon_credits": {
                "type": "number",
                "description": "Carbon credits bought or offsetted in tonCO2e"
              },
              "timestamp": {
                "type": "string",
                "description": "Timestamp of the transaction"
              }
            }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
} 