{
  "openapi": "3.0.1",
  "info": {
    "title": "Financial Services API",
    "description": "API specification for user authentication and transaction management",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": [],
      "signatureAuth": []
    }
  ],
  "paths": {
    "/user/auth": {
      "post": {
        "description": "Generates a redirect URL for seamless user authentication",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-payload-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "User authentication details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication redirect URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/all": {
      "get": {
        "description": "Returns all transactions for the authenticated user",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/details/{id}": {
      "get": {
        "description": "Returns details of a specific transaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of transaction to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "uniqueId",
          "govtId", 
          "name", 
          "userType"
        ],
        "type": "object",
        "properties": {
          "uniqueId": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "govtId": {
            "type": "string",
            "description": "Government ID (Aadhar, CIN)"
          },
          "name": {
            "type": "string",
            "description": "User's full name"
          },
          "userType": {
            "type": "string",
            "enum": ["company", "individual"],
            "description": "Type of user"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "redirectUrl": {
            "type": "string",
            "description": "URL to redirect the user for authentication"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Time in seconds until the redirect URL expires"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID"
          },
          "amount": {
            "type": "number",
            "description": "Transaction amount"
          },
          "tag": {
            "type": "string",
            "description": "Transaction tag or category"
          }
        }
      },
      "TransactionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Detailed description of the transaction"
              },
              "timestamp": {
                "type": "string",
                "description": "Timestamp of the transaction"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}