{
  "openapi": "3.0.1",
  "info": {
    "title": "BNZ Green External API",
    "description": "API specification for user authentication and transaction management",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": [],
      "signatureAuth": []
    }
  ],
  "paths": {
    "/user/auth": {
      "post": {
        "description": "Generates a redirect URL for seamless user authentication",
        "security": [
          {
            "apiKeyAuth": [],
            "apiSecretAuth": [],
            "signatureAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated redirect URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API credentials or signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/all": {
      "get": {
        "description": "Retrieves all transactions for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/details/{transactionId}": {
      "get": {
        "description": "Retrieves detailed information about a specific transaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the transaction",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed transaction information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": ["uniqueId", "govtId", "name", "userType"],
        "properties": {
          "uniqueId": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "govtId": {
            "type": "string",
            "description": "Government ID (Aadhar, CIN)"
          },
          "name": {
            "type": "string",
            "description": "User's full name"
          },
          "userType": {
            "type": "string",
            "enum": ["company", "individual"],
            "description": "Type of user - company or individual"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "redirectUrl": {
            "type": "string",
            "description": "URL to redirect the user for authentication"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Time in seconds until the redirect URL expires"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Transaction timestamp"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed"],
            "description": "Transaction status"
          }
        }
      },
      "TransactionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true,
                "description": "Additional transaction metadata"
              }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API Key for authentication"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret",
        "description": "API Secret for authentication"
      },
      "signatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-payload-signature",
        "description": "Request signature generated using API key"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT token for authenticated requests"
      }
    }
  }
}