{
  "openapi": "3.0.1",
  "info": {
    "title": "Financial Services API",
    "description": "API specification for user authentication and transaction management",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.external.bnznow.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": [],
      "signatureAuth": []
    }
  ],
  "paths": {
    "/user/auth": {
      "post": {
        "description": "Generates a redirect URL for seamless user authentication",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication. This is a public key that can be used to authenticate the request."
          },
          {
            "name": "x-api-secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret for authentication. This is a private key that can be used to sign the request."
          },
          {
            "name": "x-payload-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature of the request payload. This is a hash of the request payload that can be used to verify the request."
          }
        ],
        "requestBody": {
          "description": "User authentication details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication redirect URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "description": "Returns all transactions for all users on the platform registered with your API key",
        "parameters": [
          {
            "name": "limit",
            "in": "query", 
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer", 
              "format": "int32",
              "minimum": 1,
              "maximum": 1000,
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort order of the results",
            "schema": {
              "type": "string", 
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of transactions to return",
            "schema": {
              "type": "string", 
              "enum": ["buy", "offset"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction response",
            "content": {
              "application/json": {
                "schema": {
                      "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "Returns details of a specific transaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of transaction to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "unique_id",
          "govt_id", 
          "user_type"
        ],
        "type": "object",
        "properties": {
          "unique_id": {
            "type": "string",
            "description": "Unique identifier for the user in your system (user_id, company_id, etc)"
          },
          "govt_id": {
            "type": "string",
            "description": "Government ID (Aadhar, CIN)"
          },
          "name": {
            "type": "string",
            "description": "User's full name"
          },
          "user_type": {
            "type": "string",
            "enum": ["company", "individual"],
            "description": "Type of user"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect the user for authentication"
          },
          "registered_id": {
            "type": "string",
            "description": "Registered ID of the user on BNZ Green. You should store this value in your database and use it to identify the user in the transactions API."
          },
          "expires_in": {
            "type": "integer",
            "description": "Time in seconds until the redirect URL expires"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer",
                "description": "Current page number"
              },
              "total_records": {
                "type": "integer", 
                "description": "Total number of records"
              },
              "limit": {
                "type": "integer",
                "description": "Number of records per page"
              }
            }
          },
          "overview": {
            "type": "object",
            "properties": {
              "total_transactions": {
                "type": "integer",
                "description": "Total number of transactions"
              },
              "total_offsetted": {
                "type": "integer",
                "description": "Total number of offset transactions"
              },
              "total_users": {
                "type": "integer",
                "description": "Total number of users"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Transaction ID"
                },
                "amount": {
                  "type": "number",
                  "description": "Transaction amount"
                },
                "tag": {
                  "type": "string",
                  "description": "Transaction tag or category"
                }
              }
            }
          }
        }
      },
      "TransactionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Detailed description of the transaction"
              },
              "timestamp": {
                "type": "string",
                "description": "Timestamp of the transaction"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}