{
  "openapi": "3.0.1",
  "info": {
    "title": "Offset Gateway API",
    "description": "API specification for carbon credit purchases and offsets",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.offset.bnzgreen.io",
      "description": "Offset gateway service"
    }
  ],
  "paths": {
    "/orders": {
      "post": {
        "tags": ["Offset"],
        "summary": "Create Offset Order",
        "description": "Create a new carbon offset order",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "x-body-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature of the request body signed with API secret (private key)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": ["Offset"],
        "summary": "Get Order Details",
        "description": "Get details of a specific offset order",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetails"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/status": {
      "get": {
        "tags": ["Offset"],
        "summary": "Get Order Status",
        "description": "Get the current status of an offset order",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatus"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "required": ["carbon_credits", "payment_method"],
        "properties": {
          "carbon_credits": {
            "type": "number",
            "description": "Amount of carbon credits to purchase in tonCO2e"
          },
          "payment_method": {
            "type": "string",
            "enum": ["upi", "card", "netbanking"],
            "description": "Payment method for the order"
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique identifier for the order"
          },
          "amount": {
            "type": "number",
            "description": "Total amount in INR"
          },
          "payment_url": {
            "type": "string",
            "description": "URL to complete payment"
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique identifier for the order"
          },
          "carbon_credits": {
            "type": "number",
            "description": "Amount of carbon credits purchased"
          },
          "amount": {
            "type": "number",
            "description": "Total amount in INR"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Current status of the order"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Order creation timestamp"
          }
        }
      },
      "OrderStatus": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique identifier for the order"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Current status of the order"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last status update timestamp"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
} 