{
  "openapi": "3.0.1",
  "info": {
    "title": "Offset Gateway API",
    "description": "API specification for carbon credit purchases and offsets",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.external.bnznow.com",
      "description": "Sandbox server for marketplace APIs"
    },
    {
      "url": "https://api.external.bnznow.com",
      "description": "Production server for marketplace APIs"
    }
  ],
  "paths": {
    "/orders": {
      "post": {
        "tags": ["Offset"],
        "summary": "Create Offset Order",
        "description": "Create a new carbon offset order",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "x-body-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature of the request body signed with API secret (private key)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/create-order": {
      "post": {
        "tags": ["Offset"],
        "summary": "Create a New Offset Order",
        "description": "Create a new offset order with detailed emission and user information",
        "parameters": [
          {
            "name": "x-body-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature for request verification"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key of Client"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["emission_amount"],
                "properties": {
                  "emission_amount": {
                    "type": "number",
                    "description": "Amount of emissions to offset"
                  },
                  "emission_unit": {
                    "type": "string",
                    "description": "Unit of emission measurement",
                    "default": "kg"
                  },
                  "is_user_beneficiary": {
                    "type": "boolean",
                    "description": "Indicates if the user is the beneficiary",
                    "default": false
                  },
                  "tax_id": {
                    "type": "string",
                    "description": "Tax ID for the order",
                    "nullable": true
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the user"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email of the user"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Redirect URL for payment gateway"
                    },
                    "order_id": {
                      "type": "string",
                      "description": "Unique identifier for the created order"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": ["Offset"],
        "summary": "Get Order Details",
        "description": "Get details of a specific offset order",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetails"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/status": {
      "get": {
        "tags": ["Offset"],
        "summary": "Get Order Status",
        "description": "Get the current status of an offset order",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatus"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "required": ["emission_amount", "emission_unit"],
        "properties": {
          "emission_amount": {
            "type": "number",
            "description": "Amount of carbon credits to purchase in tonCO2e",
            "minimum": 0
          },
          "emission_unit": {
            "type": "string",
            "description": "Unit of measurement for emissions",
            "enum": ["kg", "ton", "tonCO2e"],
            "default": "tonCO2e"
          },
          "payment_method": {
            "type": "string",
            "description": "Payment method for the order",
            "enum": ["upi", "card", "netbanking"]
          },
          "is_user_beneficiary": {
            "type": "boolean",
            "description": "Indicates if the user is the direct beneficiary of the offset"
          },
          "tax_id": {
            "type": "string",
            "description": "Tax identifier for the order"
          },
          "user": {
            "type": "object",
            "description": "User information",
            "properties": {
              "name": {
                "type": "string",
                "description": "Full name of the user"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email address of the user"
              }
            }
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique identifier for the order"
          },
          "amount": {
            "type": "number",
            "description": "Total amount in INR"
          },
          "payment_url": {
            "type": "string",
            "description": "URL to complete payment"
          },
          "expiry_time": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration time for the payment session"
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique identifier for the order"
          },
          "carbon_credits": {
            "type": "number",
            "description": "Amount of carbon credits purchased"
          },
          "amount": {
            "type": "number",
            "description": "Total amount in INR"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Current status of the order"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Order creation timestamp"
          }
        }
      },
      "GetOrderByIdRequestParams": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the order to retrieve"
          }
        }
      },
      "GetOrderByIdRequestHeaders": {
        "type": "object",
        "required": ["x-api-key"],
        "properties": {
          "x-api-key": {
            "type": "string",
            "description": "API key for authentication"
          }
        }
      },
      "GetOrderByIdResponse": {
        "type": "object",
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderDetails"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message describing the issue"
          }
        }
      },
      "OrderStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Current status of the order"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
